/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
.has-error .help-block{
    color: red !important;
}

.gig_img{
    float: left;
    margin-right: 20px;
}

h2.gig_title{
    margin-top: 0px;
    margin-left: 1px;
    margin-bottom: 0px;
}

.created_by{
    margin-right: 15px;
}

.updated{

}

.profile-header{
    margin-bottom: 20px;
}

/*#login-form .input-group, #password-form .input-group{
    margin-bottom: 15px;
}

#login-form .help-block, #password-form .help-block{
    margin-bottom: 10px;
}*/

.btn-delete{
    background-color: #FFF !important;
    color: #db5565 !important;
}

.create-gig-button{
    /*    position: absolute;
        right: 15px;*/
}

.save_comp{
    display: none;
}

.panel-controls-right{
    display:none !important;
}

img.logo{
    margin-top: 5px;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:15px;
    background:#fff;
    height:390px;
    overflow:auto; 
    word-wrap: break-word;
}

#usermsg {
    width:395px;
    border:1px solid #ACD8F0; 
}

.right_msg{
    color: #F94C16;
    width: 80%;
    display: block;
    float: right;
    text-align: right;
    font-size: 16px;
    background: #F3F3F3;
    padding: 15px;
    border-radius: 5px;
    clear: both;
}

.left_msg{
    display: block;
    color: #7599C7;
    width: 80%;
    font-size: 16px;
    background: #F3F3F3;
    padding: 15px;
    border-radius: 5px;
}

.chat_time_right{
    text-align: right;
    position: relative;
    font-size: 13px;
    color: #777;
    display: block;
    width: 100%;
    clear: both;
}

.chat_time_left{
    text-align: left;
    top: -16px;
    position: relative;
    font-size: 13px!important;
    color: #777;
}

a.delete_item{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-left: 20px;
}

tr.bold_row > td{
    font-weight: bold !important;
}

.save_gig{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.chat_time_left,
.created_by,
.updated{
    font-size: 14px;
    color: #777;
}
.mb25{
    padding-top: 15px;
}
.no-pd-right{
    padding-right: 0;
}
a.delete_item{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    background: url("../img/delete.png") no-repeat center bottom;
}
a.delete_item:hover{
    background: url("../img/delete_hover.png") no-repeat center bottom;
}

.gig_edit_buttons{
    position: absolute;
    bottom: 0;
    right: 30px;
}

.img_area{
    height: 120px;
}

#my-awesome-dropzone{
    margin-bottom: 20px;
}
#wrapper{
    margin-bottom: 100px;
}
.panel{
    z-index: 10;
}
.page-navbar{
    z-index: 11;
}

.active-checkbox{
    vertical-align: baseline;
}

.small-dropzone{
    margin-bottom: 20px!important;
    min-height: 180px!important;
}


.bottom spacer{
    height: 30px;
}

.create_gig_list{
    position: absolute;
    right: 15px;
}
textarea{
    word-wrap:break-word;
    text-wrap:unrestricted;

}

.company-icon{
background-image: url("/img/company.png");
background-position: center center;
width: 15px;
height: 15px;
}

.inbox-icon{
background-image: url("/img/inbox.png");
background-position: center center;
width: 15px;
height: 15px;
}

.schedule-icon{
background-image: url("/img/schedule.png");
background-position: center center;
width: 15px;
height: 15px;
}

a {
    color: #191919; 
}

a .message{
    color: #7f7f7f; 
}

.fullwidth{
    height:100%;
    width:100%;
}



.fullwidth .row .col-9{
    float: left;
    width: 70%;
}
.fullwidth .row .col-1{
    float: left;
    width: 10%;
}
.fullwidth .row .col-3{
    float: left;
    width: 20%;
}
.fullwidth .row  .title{
    display: block;
    width: 100%;    
}
.fullwidth .row .message{
    display: block;
    width: 100%;    
}

.fullwidth .row .col-1 .time{
    display: block;
    width: 100%;    
}
#unassigned {width: 14px; height: 14px; margin-left: 0px;}
.deep_link { border: 1px solid #ccc;
    height: 34px;
    padding: 6px 0 0 10px; border-radius: 3px;
    width: 100%; }
.link-label { padding: 7px 5px 0 15px; font-weight: normal; }
.link-outer { margin-bottom: 20px;}
.company { text-align: inherit !important;}
.maptxt p { margin-bottom: 0;}

/* Make an input blend into its parent */
input.inline-edit{
    width: 95%;
    font-size: 30px;
    /* Eliminate borders and padding */
    border: none;
    padding: 0 0 0 10px;
    margin: 0;
    line-height: 38px;

    /* Inherit the parent element's typography */
    /*font: inherit;*/
    color: inherit;
    /*line-height: inherit;*/
    /*font-size: inherit;*/
    text-align: inherit;

    /* Seems to help alignment in headers */
    vertical-align: top;
}

/* Add interaction cues on hover and focus */
input.inline-edit:hover,
input.inline-edit:focus{
    /* Change the background to a light yellow */
    background-color: #FFD;
    border: 1px solid #cacaca;
    border-radius: 3px;
    line-height: 36px;
    padding-left: 9px;
    /* A subtle transition never hurts */
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ie-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.panel-body .alert.alert-success { margin-right: 15px; }
#delete_mg .alert.alert-warning { margin: 0 15px; }
#form.add_shift .error, #errormassageto, .errormsg  { color: #db5565;  font-weight: bold;}
.red { background-color: #f4ced2;}
#form.add_shift .form-control.error { color: #333333;}
.add_shift .input-group-addon { position: absolute; left: 0; z-index: 111; height: 34px; width: 36px; }
.add_shift .input-group-addon i.fa { line-height: 20px; }
.add_shift #from, .add_shift #to, .add_shift #from_time, .add_shift #to_time { margin-left: 36px; width: 86%;}
#basic-datatables-attest .attest_rate_td .caption, #basic-datatables-attest .attest_rate_td .clear-rating { display: none; }
#basic-datatables-attest .rating-xs { font-size: 1.5em; }
.popup_bottom { margin-bottom: 25px;}
.tooltip-inner  { min-width: 250px; max-width: 250px; width: 250px;}
.star_rate { font-size: 20px; color: #e3e3e3; }
.star_rate span { color: #fde16d; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
.star_rate:hover, .star_rate:focus { text-decoration: none; color: #e3e3e3; }
.attest_rate_td .btn { padding: 2px 12px; }
.input-group #attested { width: 14px; height: 14px; }
#gig_rate .clear-rating, #gig_rate .caption  { display: none; }
#shift_report .modal-content, #success_rate .modal-content { min-height: 650px !important;}
#shift_report .modal-body, #success_rate .modal-body { max-height: 1100px !important;}
#popup_comment { min-height: 250px; }
#gigstr_comment, #internal_comment { min-height: 130px; }
.candidate_rate .clear-rating  { display: none !important; }
.select2-container .select2-choice .select2-arrow { border-left: 0; }
.select2-container .select2-choice { height: 30px; }
.select2-container .select2-choice .select2-arrow b { margin-left: 14px; margin-top: 0; }
.candidate_rate .star-rating .caption { display: none; }
.rate_limit { background-color: #0bacd3; color: #ffffff; padding: 0 5px; width: 100px;}
#basic-datatables-attest > thead > tr > th, #basic-datatables-attest > tbody > tr > th, #basic-datatables-attest > tfoot > tr > th, #basic-datatables-attest > thead > tr > td, #basic-datatables-attest > tbody > tr > td, #basic-datatables-attest > tfoot > tr > td { padding: 8px 8px 2px 8px; }
.attest_image { float: right; margin-top: 4px; padding-right: 10px; }
.attestcheck { margin-left: 10px; }
#unread { width: 15px; height: 15px; }
.pagination_button { border: 1px solid #efefef;  color: #767676;  cursor: pointer;  margin-right: 9px;  padding: 6px; display: none; width: 85px; float: left; }
.form-group.className-wrap, .form-group.name-wrap { display: none !important;}
.note-group-select-from-files { display: none !important; }
#status { width: 14px; height: 14px; }
.filter { padding-top: 8px;padding-bottom: 0; }
.gig_country { padding: 0px 10px 0px 0px; width: 170px; }
#gig_country, .gigSearch { width: 160px; }
.btn-danger.btn-alt { border: 2px solid #db5565; }
.sortable-options .option-value { display: none; }
.frmb .sortable-options input[type="text"] { width: calc(90.5% - 17px) !important; }
#data_shift_form.form-horizontal .form-group .control-label { font-weight: bold; text-align: left; }
.checkbox_group { padding-left: 0 !important; padding-top: 8px; }
.form-horizontal.group-border .form-group.checkbox_outer { border: medium none; padding-bottom: 0; padding-top: 0; }
.form-horizontal.group-border .form-group { border: medium none; }
#dragndrop_outer { display: none; }
#dragndrop { position: relative; }
.empty .frmb { min-height: 155px !important; }
.cb-wrap {width: 25% !important; }
.cb-wrap.pull-right { position: relative !important; }
.sub_component { margin-bottom: 15px; }
#ourWorldPanel, #sortable, #gigHelpPanel { list-style: none; padding-left: 0; }
.panel-input input, .panel-input select { margin-bottom: 15px; }
#componentTitleOuter, #componentActionOuter, #componentUrlOuter, #add, #sortable, #uiComponentOuter, #feedButton { display: none; }
#sortable .dropzone.dz-started .dz-message { display: none; }
#sortable .dropzone.dz-started { padding: 0; }
#sortable .dropzone.small-dropzone { margin-bottom: 0 !important; }
#ourWorldPanel .panel-heading .panel-title, #sortable .panel-heading .panel-title, #gigHelpPanel .panel-heading .panel-title { padding: 5px 0px; min-height: 26px; font-size: 15px; }
.feed-item-img { margin-bottom: 10px; height: 70px;}
.small-dropzone.feed-item { min-height: 100px !important; }
.feed-item-text { font-size: 12px; }
.candidate_data { background-color:#eeeeee; border: 1px solid #cacaca;  border-radius: 3px; color: #333333; font-size: 14px; padding: 6px 12px; min-height: 33px; }
.form-group .candidate_url.col-lg-12 { margin-bottom: 0 !important;}
/*#fieldsOuter { display: none; }*/
.setStatus { color: #db5565;}
#status_type { border-radius: 3px;height: 30px; font-size: 13px; }
.tooltip-inner { max-width: 350px; width: 350px; }
