/*
Theme Name: Sydney Child
Theme URI: http://athemes.com/theme/sydney
Template: sydney
Author: aThemes
Author URI: http://athemes.com
Description: Sydney is a powerful business theme that provides a fast way for companies or freelancers to create an awesome online presence. Sydney brings plenty of customization possibilities like access to all Google Fonts, full color control, layout control, logo upload, full screen slider, header image, sticky navigation and much more. Also, Sydney provides all the construction blocks you need to rapidly create an engaging front page.
Tags: two-columns,right-sidebar,custom-colors,custom-background,custom-header,custom-menu,featured-images,sticky-post,theme-options,threaded-comments,translation-ready
Version: 1.43.1515700383
Updated: 2018-01-11 20:52:59

*/


a.go-top.show {
	display: none;
}
.site-logo {
	width: 140px;
}

@font-face {
	font-family: gentona;
	src: url('https://www.gigstr.com/wp-content/themes/sydney-child/fonts/rene_bieder_-_gentona_extrabold.woff2') format('woff2'),
         url('https://www.gigstr.com/wp-content/themes/sydney-child/fonts/rene_bieder_-_gentona_extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2, h3 {
	font-family: gentona;
}
#link-text input[type="tel"] {
	background: none;
}

/******  HOMEPAGE  ****/

.page-id-5288 .entry-content, .page-id-4758 .entry-content {
	margin-bottom: 0;
} 
/* Section 2 */

.guide-wrap {
	width: 100%;
	padding: 15px;
	}
	
.guide-icon {
	max-width: 100px;
	margin: auto;
	margin-bottom: 24px;
	}
	
	.guide-icon img {
		width: 100%;
		margin: 0;
	}
	
	.guide-wrap h3, .guide-wrap p {
		text-align: center;
	}

/* Hire or Get Hired */

	
	.s1c1a img {
		transition: all 0.4s ease-in-out;
	}
	.s1c1-wrapper {
		position: absolute;
		top: 40%;
		left: 5%;
	}
	
	.s1c1-wrapper h2 {
		margin-bottom: 15px;
	}
	
	.s1c1-line {
		width: 100px;
		height: 5px;
		background: #83d5d2;
	}

	.s1c1a:hover img {
		transform: scale(1.1);
	}

/* Areas */

.area-3-1-da input[type="checkbox"] {
	display: none;
}

.s1c1 img {
		transition: all 0.4s ease-in-out;
	}
	.s3c1-text {
		position: absolute;
		top: 45%;
		left: 5%; 	
	}
	
	.s3c1-text h2 {
		text-align: center;
		margin-bottom: 10px;
	}
	.s3c1-line {
		width: 100px;
		height: 5px;
		background: #83d5d2;
	}
	
	.s1c1:hover img {
		transform: scale(1.1);
	}
	
/* I'm a Gigstr and Business */

	.main-contact{
		font-family: Helvetica, Arial, sans-serif;
		width: 90%;
		margin: auto;
		border: 1px solid black;
	}
	
	.main-contact h3 {
		text-align: center;
		margin-top: 70px;
		margin-bottom: 10px;
	}
	
	.main-line {
	width: 50px;
		margin: auto;
		height: 1px;
		margin-bottom: 70px;
		background: #83d5d2;
	}
	
	.main-button1, .main-button2 {
		max-width: 250px;
		margin: auto;
		margin-bottom: 50px;
		text-align: center;
	}
	
	.main-button1 a {
		padding: 12px 35px;
		background: black;
		text-align: center;
		margin: 20px;
		border: 1px solid black;
		color: #fff;
		font-size: 12px;
		letter-spacing: 1px;
	}
	
	.main-button2 a {
		padding: 12px 29px;
		background: black;
		text-align: center;
		margin: 20px;
		border: 1px solid black;
		color: #fff;
		font-size: 12px;
		letter-spacing: 1px;
	}
	

	
	.main-kvadrat {
		width: 100%;
		height: 30px;
	}
	
	.main-contact a:hover {
		background: white;
		color: black;
	}


/* HOME SWE */

/****** .  GIGSTR SIDA .   *****/

#gigstr-container {
	background: url(https://www.gigstr.com/wp-content/uploads/2018/06/bg-gigstr.jpg) no-repeat;
	background-size: contain;
	background-position: right;
}

.g-header {
	width: 87%;
	margin: auto;
}

.g-h-wrapper {
	max-width: 450px;
	padding-top: 100px;
	padding-bottom: 60px;
}

.g-h-wrapper p {
	font-size: 1.3em;
}
.g-h-wrapper p, .g-h-wrapper h2 {
	background: #83d5d2;
}

a.roll-button.g-header-mobile {
	background: #83d5d2;
	display: none;
	color: #faf7f2;
}


#company-list {
	border: 10px solid #ede9e6;
}
.g-company {
	max-width: 900px;
	margin: auto;
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.g-company-row-1, .g-company-row-2 {
	-webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
	padding: 15px 0;
	position: relative;
}
.g-company-row-1 {
	left: 2%;
}
.g-company-row-2 {
	right: 2%;
}

.g-company img {
	max-height: 40px;
	width: 32%;
}

/****** . END OF GIGSTR SIDA .   *****/




/****** .  END OF HAMEPAGE .   *****/

/**************** .   HIRE .    ****************/


.hire-text {
		text-align: center;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	
	.hire-line {
		width: 50px;
		height: 1px;
		background: #83d5d2;
		margin: auto;
		margin-bottom: 10px;
	}
	
	.hire-text h3 {
		margin-bottom: 10px;
	}

/*********** .   END OF HIRE .   ************/


/*********** .   FORM .   ************/


.hire-select {
	text-align: center;
	margin-bottom: 20px;
}
.select-box {
	display: inline-block;
}

select {
	-webkit-appearance: none;
 -moz-appearance: none;
 -o-appearance: none;
 -apple-appearance: none;
 -ms-appearance: none;
	appearance: none;
	
	display: inline-block;
	padding-right: 35px;
	padding-left: 10px;
	background: url(https://www.gigstr.com/wp-content/uploads/2018/01/aroows.png) no-repeat 95% center;
	
}

input[type="email"], input[type="tel"], input[type="text"], input[type="url"], textarea#post-description {
	max-width: 370px;
	padding-left: 50px;
}

#hire-email input[type="email"] {
	background: url(https://www.gigstr.com/wp-content/uploads/2018/01/mail.png) no-repeat;
	background-position: 7px;
}

#hire-phone input[type="tel"] {
	background: url(https://www.gigstr.com/wp-content/uploads/2018/01/phone.png) no-repeat;
	background-position: 7px;
}

input.ac-man[type="text"] {
	background: url(https://www.gigstr.com/wp-content/uploads/2018/01/text.png) no-repeat;
	background-position: 7px;
}


input[type="submit"] {
	width: 370px;
	max-width: 370px;
}

div.wpcf7 .ajax-loader {
	display: none;
}


@media only screen and (max-width: 479px) {

	input[type="submit"], input[type="email"], input[type="tel"], input[type="text"] {
		width: 280px;
	}
	
	select {
		width: 280px;
	}
  
  .one1 {
		margin-bottom: 20px;
    position: relative;
		left: 8px;
	}
	.ctcc-left-side {
		font-size: 0.7em;
	}
	#catapultCookie {
		font-size: 0.5em;
		padding: 0 5px;
	}
}

/*********** .   END OF FORM.   ************/


/*********** .   ABOUT .   ************/


	.a-sale-wrapper {
		width: 90%;
		margin: auto;
	}
	
	.a-sale-top {
		width: 50px; 
		margin: auto;
		height: 1px;
		background: #83d5d2;
		margin-bottom: 40px;
	}
	
	.a-sale-main {
		max-width: 600px;
		margin: auto;
		text-align: center;
	}
	
	.a-sale-main h3 {
		font-weight: 700!important;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	
	.a-sale-text {
		max-width: 500px;
		margin: auto;
	}

	.a-sale-main p {
		font-weight: 200!important;
	}


/* SECTION 3 */

	.about-wrapper {
		width: 90%;
		margin: auto;
	}
	
	.about-top {
		width: 50px; 
		margin: auto;
		height: 1px;
		background: #83d5d2;
		margin-bottom: 40px;
	}
	
	.about-main {
		max-width: 750px;
		margin: auto;
		text-align: center;
	}
	
	.about-main h3 {
		font-weight: 700!important;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	
	.about-text {
		max-width: 700px;
		margin: auto;
	}

	.about-main p {
		font-weight: 200!important;
	}

/* Section 4 */

.a-guide-wrap {
		width: 100%;
		padding: 15px;
	}
	
	.a-guide-icon {
		max-width: 50px;
		margin: auto;
		margin-bottom: 24px;
	}
	
	.a-guide-icon img {
		width: 100%;
		margin: 0;
	}
	
	.a-guide-wrap h3, .a-guide-wrap p {
		text-align: center;
	}
	
	.a-guide-wrap h3 {
		font-size: 20px;
	}

/* END OF SECTION 4 */



/****** TESTIMONIALS ******/
#gwf-wrapper .roll-project .project-item .project-pop {
	background-color: rgba(255,250,250,0)!important;
}

#gwf-wrapper .roll-project.fullwidth .project-item {
	padding: 10px;
}

.category-company-tes, .category-company-tes-swe {
	box-shadow: 1px 1px 4px rgba(28,32,42,0.3);
	padding: 20px;
}

.category-company-tes .entry-header, .category-company-tes-swe .entry-header {
	display: none;
}

.category-company-tes .entry-content p:first-child, .category-company-tes-swe .entry-content p:first-child {
	background: #ede9e6;
	margin: -20px -20px 20px;
}

.category-company-tes .entry-content p:first-child img,.category-company-tes-swe .entry-content p:first-child img {
	padding: 20px;
}

.category-company-tes .entry-content p:nth-child(2), .category-company-tes-swe .entry-content p:nth-child(2) {
	float: left;
	margin-right: 20px;
}

.category-company-tes .entry-content p:nth-child(2) img, .category-company-tes-swe .entry-content p:nth-child(2) img {
	width: 100%!important;
}

.category-company-tes .entry-content p:nth-child(3), .category-company-tes-swe .entry-content p:nth-child(3) {
	margin-top: 15%;
}

.category-company-tes .entry-content h2, .category-company-tes-swe .entry-content h2 {
	font-size: 28px;
	margin-top: 50px;
	clear: both;
}

/******* END OF TESTIMONIALS *******/


/***** CALCULATOR & USPAR ******/

#gigstr-calculator-wrapper .textwidget.custom-html-widget {
	display: -ms-flexbox; 
 	display: -webkit-flex;
 	display: flex; 
	padding: 15px;
}
.gigstr-calculator, .gigstr-usp-wrapper {
	-webkit-box-flex: 1;             
	-webkit-flex: 1;       
	-ms-flex: 1;           
	flex: 1;
	padding: 40px;
	position: relative;
	overflow: hidden;
	
}

.gigstr-calculator {
	background: #faf7f2;
	margin-right: 15px;
}

.gigstr-usp-wrapper {
	background: #83d5d2;
}


	.gigstr-calculator #cost-estimation .cost-calculator-box, .gigstr-calculator #cost-estimation .vc_row .wpb_column .cost-calculator-box,
.gigstr-calculator #cost-estimation-eng .cost-calculator-box, .gigstr-calculator #cost-estimation-eng .vc_row .wpb_column .cost-calculator-box {
		padding: 0;
	}
	
	.gigstr-calculator .cost-calculator-box .ui-slider-handle .cost-slider-tooltip {
		display: none;
	}
.gigstr-calculator .cost-calculator-box input+.cost-slider-container {
	margin-top: 0;
}
.cal-timmar {
	margin-top: 20px;
}

.gigstr-calculator .cost-calculator-box label {
	font-weight: 100!important;
}

.gigstr-calculator .cost-calculator-box .ui-slider {
	border: 1px solid #83d5d2;
	background: none!important;
	position: relative;
	bottom: 5px;
}
.gigstr-calculator .cost-calculator-box .ui-slider-horizontal .ui-slider-range {
	background: #83d5d2!important;
}

.gigstr-calculator .cost-calculator-box .ui-slider .ui-slider-handle {
	border: none;
	background: #1d202a;
}
.gigstr-calculator .cost-calculator-box .ui-slider-handle::after {
	background: #faf7f2!important;
}

.gigstr-calculator .cost-calculator-form input[type="number"] {
	background: none!important;
	padding: 5px 20px;
	border-radius: 10px;
}

.gigstr-calculator .vc_row .wpb_column .cost-calculator-box.cost-calculator-summary-box {
	text-align: center;
}

.gigstr-calculator .cost-calculator-summary-box::before {
	margin-right: 0;
}

.gigstr-calculator .cost-calculator-summary-price {
	font-size: 16px!important;
	font-weight: 500;
}

.gigstr-calculator .cost-calculator-price-description {
	font-size: 13px;
	font-weight: 100;
	line-height: 20px;
	color: #1d202a;
}

.cal-total-novat {
	border-bottom: 1px solid #83d5d2;
	margin-top: 20px;
	padding-bottom: 15px!important;
}
.cal-total-novat p {
	font-weight: 500!important;
}

.cal-button {
	text-align: center;
	margin-top: 30px;
}
.cal-button a.roll-button.border {
	border: none!important;
	background: #1d202a!important;
	color: #faf7f2!important;
}
#cost-total-novat {
	font-size: 28px!important;
}

/** USPAR**/

.gigstr-uspar {
	position: relative;
	z-index: 10;
	max-width: 280px;
	color: #faf7f2;
}
.gigstr-uspar h3 {
	color: #faf7f2!important;
}

.gigstr-usp-wrapper img {
	max-width: 360px;
	position: absolute;
	top: 15%;
	right: 0;
	transform: rotate(-20deg);
}

/*****END OF CALCULATOR & USPAR ******/

/***TEXT WHY AND HOW FRONT PAGE***/
.uspar-about-copy {
	max-width: 500px;
}

.uspar-about-copy h3 {
	font-size: 25px;
}

.uspar-about-copy .cal-button {
	text-align: left;
	padding-bottom: 100px;
}

.uspar-about-bg {
	height: 600px;
	background: url(https://www.gigstr.com/wp-content/uploads/2018/06/gigstr-laptop.jpg) no-repeat;
	background-size: contain;
}

.uspar-about-bg-eng {
	height: 600px;
	background: url(https://www.gigstr.com/wp-content/uploads/2018/06/gigstr-platform.jpg) no-repeat;
	background-size: contain;
}

/***END OF TEXT WHY AND HOW FRONT PAGE***/


/****** POST A JOB ******/


.job-manager-form fieldset label {
 font-size: 1.3em;
	width: 100%!important;

}
#submit-job-form input[type]:not([type="submit"]) {
	background: none;
	padding-left: 20px;
	border-radius: 5px;

}
input[type]:focus, select#job_type.postform:focus, select#job_gig_date:focus {
	outline: 0!important;
}
select#job_gig_date {
	border-radius: 5px;
}
fieldset.fieldset-job_gig_date {
	margin-bottom: 0!important;
}
input#job_ongoing_startdate {
	width: 100%;
}
#submit-job-form .fieldset-login_required {
	display: none;
}
.job-manager-form fieldset {
	border-bottom: none;
}
.job-manager-form fieldset:first-child {
	display: none;
}
.job-manager-form fieldset div.field {
	width: 100%;
}
fieldset.fieldset-job_title, fieldset.fieldset-job_type, fieldset.fieldset-job_skills {
	width: 49%;
	margin-right: 2%;
	float: left;
}
input[type="text"]#job_period {
	width: 100%;
}
select#job_type.postform, select#job_amount_of_gigstrs, select#job_skills {
	border-radius: 5px;
}
select#job_amount_of_gigstrs:focus, select#job_skills:focus, .fieldset-job_description textarea#job_description.input-text:focus {
	outline: 0!important;
}
textarea#job_description.wp-editor-area {
	background: none;
}
ul.job_listings {
	border: 1px solid #ede9e6;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
li.job_listing:hover {
	border-left: 5px solid #83d5d2;
	cursor: pointer;
}
#job-online h2 {
	font-size: 30px;
	color: #1d202a;
	text-align: center;
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid #e3e3e3;
	margin-bottom: 50px;
}
input#company_logo {
	padding-left: 0;
}

input[type="file"]#company_logo {
	padding: 15px 20px;
	background: #83d5d2;
}

#job-online {
	max-width: 900px;
	margin: auto;
}
h2#job_header {
	border-top: none;
	margin-top: 0;
	padding-top: 0!important;
}

fieldset.fieldset-app_first_name, fieldset.fieldset-app_email {
	width: 49%;
	float: left;
	margin-right: 2%;
}
h2#job_register {
	border: none;
}
textarea#job_description.input-text{
	background: none;
	border-radius: 5px;
}
#submit-job-form input[type="submit"] {
	position: relative;
	top: -50px;
}
#submit-job-form p {
	text-align: center;
}

.job-submited-copy {
	max-width: 500px;
	margin: auto;
}

.job-submited-copy img {
	width: 100%;
}

.job-submited-copy span {
	display: none;
}
.fieldset-company_logo br {
	display: none;
}

.fieldset-company_logo .field .description {
	text-align: left;
	margin-top: 0;
}
.fieldset-company_logo input#company_logo.input-text.file-company_logo {
	padding-left: 0;
}
/****** END OF POST A JOB ******/

/****** FIND A JOB ******/

.entry-content {
	margin-top: 100px;
	margin-bottom: 70px;
}

.location:before {
	content: url("https://www.gigstr.com/wp-content/uploads/2018/05/location_icon.png");
	position: relative;
	top: 4px;
	margin-right: 5px;
}

.job_filters .job_types {
	border-right: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
	border-top: none;
}

.job_filters .job_types li {
	padding: 15px;
	text-transform: uppercase;
	color: #83D5D2;
}

.search_jobs {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #83d5d2;
}

.search_jobs input[type] {
	padding-left: 15px;
	border: none;
}


/****** END OF FIND A JOB *****/

/***** LOG IN ****/

.login-wrapper {
			max-width: 800px;
			margin: auto;
			box-shadow: 1px 1px 5px rgba(29,32,42,0.3);
			overflow: hidden;
			background: url(https://www.gigstr.com/wp-content/uploads/2018/05/Login-bg.svg) no-repeat;
			background-size: cover;
		}
		
		.login-container {
			width: 55%;
			float: left;
		}
		
		.login-aside {
			width: 45%;
			height: 100%;
			position: relative;
			float: left;
			
		}
		.login-aside img {
			width: 100%;
			height: 100%;
		}
		
		.login-aside h3 {
			text-align: center;
			position: absolute;
			top: 35%;  
    		left: 50%; 
    		transform: translate(-50%, -50%);
			color: #faf7f2;
			width: 80%;
			text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
		}
		
		.icon-log {
			width: 5%;
			margin: auto;
			margin-top: 45px;
		}
		.icon-log img {
			width: 100%;
		}
		.log-header {
			overflow: hidden;
			width: 75%;
			margin: auto;
			color: #faf7f2;
			font-size: 1.5em;
			margin-top: 20px;
		}
		.log-fields {
			width: 75%;
			margin: auto;
			margin-top: 30px;
		}
		p.log-button {
			width: 35%;
			float: left;
		}
	
	.log-header h3 {
			width: 45%;
			float: right;
			margin: 16px 0;
			text-align: right;
			margin-right: 4px;
			font-size: 1em;
		}
	.log-header a {
			padding: 8px 15px;
			padding-top: 4px;
			background: #faf7f2;
			border-radius: 10px;
			box-shadow: 1px 1px 3px rgba(29,32,43,0.3);
			color: #83d5d2!important;
		}
		p.user-registration-register.register {
			display: none;
		}

		#ur-frontend-form.ur-frontend-form.login {
			border: none;
			padding: 0;
		}

		.log-pop #user-registration.user-registration {
			width: 100%;
		}
		.log-pop .ur-form-grid {
			padding: 0!important;
			width: 100%;
		}

.log-pop .ur-form-row input[type]:not([type="submit"]) {
	border: none;
	border-bottom: 1px solid #faf7f2;
	background: none;
	padding-left: 0;
}
.log-pop input[type="text"]::placeholder, .log-pop input[type="password"]::placeholder, .reg-wrapper input[type]::placeholder {
	color: #faf7f2!important;
    opacity: 1;
	font-size: 1.1em!important;
}

.log-pop .user-registration-form-row.user-registration-form-row--wide.form-row.form-row-wide label {
	display: none;
}

.log-pop input[type="submit"].user-registration-Button.button, .reg-wrapper .btn.button.ur-submit-button {
	width: fit-content;
	float: none;
	background: none!important;
	border: 1px solid #faf7f2;
	margin-top: 15px;
	font-size: 1.2em;
	font-weight: 200!important;
	text-transform: none;
}

.log-pop input[type="submit"].user-registration-Button.button:hover, .reg-wrapper .btn.button.ur-submit-button:hover {
	
	background: #faf7f2!important;
	color: #83d5d2;
}
.log-pop label.user-registration-form__label.user-registration-form__label-for-checkbox.inline {
	margin-top: 15px;
}
.log-pop .user-registration-form__label.user-registration-form__label-for-checkbox.inline input[type="checkbox"] {
	margin: 0;
	margin-right: 6px;
}

.log-pop .user-registration-form__label.user-registration-form__label-for-checkbox.inline span {
	font-weight: 200!important;
	color: white;
}

.log-pop .user-registration-LostPassword.lost_password a, log-pop p.user-registration-LostPassword.lost_password {
	color: white!important;
}

/***** END OG LOG IN ******/

/****JOB PREVIEW****/

#job_preview {
	box-shadow: 1px 1px 5px rgba(29, 32, 42, 0.3);
}
.job_listing_preview_title {
	background: url(https://www.gigstr.com/wp-content/uploads/2018/05/bg-login.jpg) no-repeat!important;
	background-size: cover!important;
	padding-top: 25px;
}
.job_listing_preview_title br {
	display: none;
}
.job_listing_preview_title h2 {
	border-top: none!important;
	margin-bottom: 25px!important;
	color: #faf7f2!important;
}
input[type="submit"]#job_preview_submit_button {
	width: 49%;
	background: #faf7f2!important;
	border: 1px solid #faf7f2!important;
	color: #83d5d2!important;
}
input.button.job-manager-button-edit-listing {
	float: left!important;
	width: 49%;
	background: none!important;
	border: 1px solid #faf7f2!important;
	color: #faf7f2!important;
}
#job_preview .job_listing_preview.single_job_listing {
	border: none;
	padding: 0;
}
#job_preview .company {
	box-shadow: none;
	border: none;
}
#job_preview .company img {
	width: 10%;
}
#job_preview .company p {
	display: none;
}

#job_preview .company p.name {
	display: flex;
	flex-direction: column;
}


#job_preview .company .name a {
	margin-left: 0;
	float: none;
	-webkit-order: 2;
	order: 2;
}

#job_preview .company .name strong {
	-webkit-order: 1;
	order: 1;
}

#job_preview h1 {
	font-size: 32px;
	margin: 0;
	background: #ede9e6;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
#job_preview .single_job_listing .job-meta-priview-bg {
	background: #ede9e6!important;
	padding-bottom: 20px;
}
#job_preview ul.job-listing-meta.meta {
	background: none;
	text-align: center;
	max-width: 390px;
	margin: auto;
}

#job_preview #jmfe-wrap-job_skills.jmfe-custom-field-wrap {
	width: fit-content;
	padding: 5px;
	background: #83d5d2;
	color: white!important;
}
#job_preview #jmfe-wrap-job_skills.jmfe-custom-field-wrap, #job_preview .job_description {
	margin: 20px 15px;
}
#job_preview #jmfe-wrap-job_amount_of_gigstrs {
	margin: 0 15px;
}

#job_preview #jmfe-wrap-job_period.jmfe-custom-field-wrap {
	margin: 25px 15px!important;
}
/****END OF JOB PREVIEW***/

/****JOB LISTING***/

/**HOME PAGE LISTING**/

#gigstr-jobslist .job_filters, #gigstr-jobslist .load_more_jobs {
	display: none!important;
}
#gigstr-jobslist .job_listings img.company_logo {
	width: 6%;
	height: auto;
	position: relative;
}
#gigstr-jobslist .job_listings .position {
	float: left;
	width: 55%;
	padding-left: 10px;
}
#gigstr-jobslist .job_listings .meta {
	display: flex;
	flex-direction: column;
	text-align: right;
}
#gigstr-jobslist .job_listings .meta .date {
	font-size: 0.9em;
}

.job-listing-hire .promo-controls {
	text-align: right;
}
.job-listing-hire .promo-controls .roll-button.border {
	background: #83d5d2;
	color: #faf7f2;
}

.job-listing-see-more .promo-controls {
	text-align: left;
}
/**END OF HOME PAGE LISTING**/

.container.content-wrapper {
	background: none;
}
.job_listing .entry-header {
	text-align: center;
	background: #83d5d2;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.job_listing .entry-header h1 {
	color: #faf7f2;
}

.job_listing.type-job_listing.status-publish .single-meta {
	display: none;
}
.job_listing .entry-content {
	margin-top: 0;
}
.job_listing li.location:before {
	position: relative;
	top: -1px;
}
.single_job_listing .company {
	overflow: hidden;
	margin-bottom: 0;
}
.single_job_listing .company img {
	height: auto;
	position: relative;
	left: 0;
	margin-right: 2%;
}

.job_listing .company .name strong {
	font-size: 1.5em;
}
#jmfe-wrap-job_period.jmfe-custom-field-wrap {
	padding: 10px;
	border-left: 3px solid #83d5d2;
	margin-top: 25px;
	margin-bottom: 20px;
}
strong#jmfe-label-job_period.jmfe-custom-field-label {
	font-size: 1.1em;
	margin-right: 5px;
}
.content-area.col-md-9 #jmfe-wrap-job_skills.jmfe-custom-field-wrap {
	margin: 20px 0;
	width: fit-content;
	padding: 5px;
	background: #83d5d2;
	color: white;
}

.content-area.col-md-9 #jmfe-wrap-job_amount_of_gigstrs {
	margin: 20px 0;
}
.single_job_listing .meta li {
	margin-right: 0.7em;
}

.single_job_listing .meta .part-time, .single_job_listing .meta .freelance, .single_job_listing .meta .full-time {
	background-color: #83d5d2!important;
}
#secondary.widget-area.col-md-3 {
	background: none;
	padding: 10px 15px;
	padding-top: 0;
}
.entry-content {
	margin-top: 0;
}

#widget_recent_jobs-2.widget.job_manager.widget_recent_jobs {
	padding-top: 15px;
}

#widget_recent_jobs-2 .job_listings {
	border: none;
}
#widget_recent_jobs-2 .location:before {
	display: none;
} 
#widget_recent_jobs-2 li.job_listing:hover {
	border: none;
}
#widget_recent_jobs-2 li.job_listing a:hover {
 background: none;
}
#widget_recent_jobs-2 ul.meta {
	font-size: 0.9em;
}
#widget_recent_jobs-2 h3.widget-title {
	padding-bottom: 10px;
	color: #83d5d2;
}

.apply-link-text {
	padding: 10px;
	border: 1px solid #83d5d2;
	border-radius: 5px;
}
.apply-link-text h3 {
	text-align: center;
	color: #83d5d2;
	font-size: 1.4em;
}
.apply-link-text .linkTextingWidget, .apply-link-text .promptWrapper .promptContent {
	margin: 0!important;
}
.apply-link-text .promptWrapper .linkTextingInput {
	margin: 0;
	height: 36px!important;
}

.apply-link-text .promptWrapper .linkTextingButton {
	position: relative;
	right: 0;
	width: 100%;
}

#secondary #sydney_action-5 {
	display: none;
}
/****END OF JOB LISTING***/


/**** FORM REGISTRATION ***/


.register-text {
	max-width: 650px;
	margin: auto;
	margin-bottom: 50px;
	color: #1d202a!important;
}
.register-text h3 {
	text-align: center;
}

.reg-wrapper {
	max-width: 500px;
	margin: auto;
	padding: 25px;
	background: url(https://www.gigstr.com/wp-content/uploads/2018/05/bg-login.jpg) no-repeat;
	background-size: cover;
	box-shadow: 1px 1px 5px rgba(29,32,42,0.3);
}

.reg-header p {
	margin-left: 10px;
	font-size: 1.5em;
	font-weight: 500!important;
	color: #faf7f2;
}
.reg-wrapper button.btn.button.ur-submit-button {
	background: #83d5d2;
}
.reg-wrapper #ur-frontend-form {
	border: none;
	padding: 0;
}
.registr-form label {
	margin: 0!important;
}
.reg-wrapper input[type] {
	background: none!important;
	border: none!important;
	border-bottom: 1px solid #faf7f2!important;
	border-radius: 0!important;
	padding-left: 0!important;

}

.registr-form #privacy_policy_1527513740_field label {
	width: 5%;
	float: left;
	margin-right: 15px!important;
}

.reg-wrapper span.description {
	color: #faf7f2;
}

.reg-wrapper .description a {
	color: #1d202a;
}

.reg-wrapper .btn.button.ur-submit-button {
	margin-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 30px;
}
/***END OF REGISTRATION***/


/****** RECOMMENADATION FORM ******/

.recommendation-wrapper {
	max-width: 1000px;
	margin: auto;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	box-shadow: 2px 1px 4px rgba(28,32,42,0.1);
}

.recommendation-col-1, .recommendation-col-2 {
	 -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.recommendation-col-1 {
	background: #83d5d2;
	display: inherit;
	max-width: 45%;
}

.recommendation-col-1 img {
	width: 80%;
	margin: auto;
}

.recommendation-col-2 {
	padding: 20px;
	text-align: center;
	color: #1d292a;
	font-weight: 100!important;
}

.rec-col-2-header {
	width: 85%;
	margin:auto;
	padding-top: 30px;
}

.rec-col-2-header h3 {
	font-size: 1.4em;
}

.rec-col-2-header h3:nth-child(3) {
	font-size: 1em;
	margin-bottom: 10px;
}

.rec-col-2-wrapper a {
	color: #83d5d2!important;
	cursor: pointer;
}

.recommendation-form {
	position: relative;
}

.recommendation-form input[type="text"], .recommendation-form textarea#form-rec-area {
	width: 100%;
	background: none;
	padding-left: 20px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.recommendation-form textarea#form-rec-area {
	margin-bottom: 3px;
}

.recommendation-form textarea#form-rec-area:focus {
	outline: 0!important;
}

.recommendation-form input[type="submit"]#form-rec-submit {
	width: 100%;
}

.recommendation-form .wpcf7-validation-errors, div.wpcf7-acceptance-missing {
	border: 1px solid #83d5d2;
	border-radius: 3px;
	width: 100%;
	margin: 20px 0;
}

.recommendation-form .wpcf7-character-count.down {
	float: left;
	color: #dbdbdb!important;
}

.recommendation-form .wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #faf7f2 url(../img/recommendation/Thank-you.svg) no-repeat center;
	border: none;
}
/****** END OF RECOMMENADATION FORM ******/

@media only screen and (max-width: 1210px) {
	.gigstr-usp-wrapper img {
		max-width: 300px;
		top: 23%;
	}
}

@media only screen and (max-width: 1070px) {
	.gigstr-usp-wrapper img {
		display: none;
	}
}


@media only screen and (max-width: 1024px) {
	#masthead {
		display: none;
	}
}


@media only screen and (max-width: 950px) {
	
	/****** GIGSTR SIDA ******/
	
	.g-h-wrapper {
		background: #83d5d2;
		padding-right: 30px;
	}
	
	.g-h-wrapper h2 {
		font-size: 32px;
	}
	
	.g-h-wrapper p {
		line-height: 1.3em;
	}
	
	/****** END OF GIGSTR SIDA ******/
}

@media only screen and (max-width: 840px) {
	
	/****** GIGSTR SIDA ******/
	
	.g-h-wrapper {
		max-width: 370px;
	}
	
	
	.g-h-wrapper p {
		font-size: 1.1em;
	}
	
	/****** END OF GIGSTR SIDA ******/
}

@media only screen and (max-width: 780px) {
	
	.siteorigin-panels-stretch.panel-row-style.panel-row-style-for-3249-0 {
		padding: 0!important;
	}
	
	#pgc-162-0-1, #pgc-162-0-0 {
  padding: 0!important;
  margin: 0!important;
  }
	
	.gigstr-usp-wrapper img {
		display: block;
	}
	.gigstr-uspar {
		max-width: 400px;
	}
	
	/****** .  GIGSTR SIDA .   *****/
	
	.g-h-wrapper {
		padding-right: 0;
	}
	
	a.roll-button.g-header-mobile {
		display: block;
		width: fit-content;
	}
.g-company-row-1 {
		left: 0;
	}
	.g-company-row-2 {
		right: 0;
	}


/****** . END OF GIGSTR SIDA .   *****/
	
	/********   JOB BOARD   *****/
	
	#secondary #sydney_action-5 {
	display: block;
		margin: 0;
		padding: 0;
}
	#secondary .roll-promobox {
		padding-top: 0;
	}
	
	#secondary .promo-controls {
		margin-top: 0;
	}
	
	#secondary .promo-controls a {
		color: #83d5d2!important;	
	}
	
	#secondary .promo-controls a:hover {
		color: #faf7f2!important;
	}
	
	#secondary #custom_html-7 {
		display: none;
	}
	
	.job-listing-hire .promo-controls {
		margin-right: 15px;
	}
	/******** END OF  JOB BOARD   *****/
	
	/***** CALCULATOR & USPAR ******/

#gigstr-calculator-wrapper .textwidget.custom-html-widget { 
	padding: 0;
	flex-direction: column;
}

.gigstr-calculator {
	margin-right: 0;
}



/*****END OF CALCULATOR & USPAR ******/
	
	/***TEXT WHY AND HOW FRONT PAGE***/
	
	.uspar-about-copy {
	margin: auto;
	text-align: center;
	margin-top: 50px;
		
}


.uspar-about-copy .cal-button {
	text-align: center;
}

.uspar-about-bg {
	height: 300px;
	background: url(https://www.gigstr.com/wp-content/uploads/2018/06/gigstr-destop.jpg) no-repeat;
	background-size: contain;
	background-position: center;
}
	
.uspar-about-bg-eng {
	height: 300px;
	background: url(https://www.gigstr.com/wp-content/uploads/2018/06/gigstr-post-a-job.jpg) no-repeat;
	background-size: contain;
	background-position: center;
}
	/***END OF TEXT WHY AND HOW FRONT PAGE***/
	
	/****** RECOMMENADATION FORM ******/
	
	#pl-3249 .panel-grid-cell {
		padding: 0!important;
	}

.recommendation-wrapper {
	box-shadow: none;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
	
.recommendation-col-1 {
	max-width: 100%;
	display: -ms-inline-grid;
    display: inline-grid;
	padding: 20px 10px;
}
	
	.recommendation-col-1 img {
		width: 35%;
	}
	
	/****** END OF RECOMMENADATION FORM ******/
	
}



@media only screen and (max-width: 767px) {
	
	/***GIGSTR RESA***/
	
	#gigstr-resa {
		display: none;
	}
	/***END OF GIGSTR RESA***/
	
	#gigstr-jobslist .job_listings img.company_logo {
	display: none;
}
#gigstr-jobslist .job_listings .position {
	width: 35%;
}

	#gigstr-jobslist .job_listings .location {
		float: left;
		width: fit-content;
		margin-left: 10%;
	} 
	
	/*****MOBILE NAV HEADER******/
	
	
	
	.header-wrap .col-md-4.col-sm-8.col-xs-12 {
		width: 30%;
	}
	
	.header-wrap .col-md-8.col-sm-4.col-xs-12 {
		width: 70%;
	}
	
	.col-md-8.col-sm-4.col-xs-12 .btn-menu {
		float: right;
		margin: 0;
		margin-right: 20px;
	}
	
	/*****END OF MOBILE NAV HEADER******/
	
}

@media only screen and (max-width: 730px) {
	
	.icon-log {
		display: none;
	}
	
}

@media only screen and (max-width: 650px) {
	
#gigstr-container {
	background: url(https://www.gigstr.com/wp-content/uploads/2018/06/students-tablet.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
	.g-h-wrapper {
		background: none;
		padding-right: 0;
		text-align: center;
		margin: auto;
	}
	
	.g-h-wrapper h2, .g-h-wrapper p {
		background: none;
		color: #faf7f2!important;
		text-shadow: 1px 1px 3px rgba(28,32,42,0.5);
	}
	
	a.roll-button.g-header-mobile {
		margin: auto;
	}
	
	
}

@media only screen and (max-width: 615px) {
	
	/****** GIGSTR SIDA ***/
	.g-company {
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	}
	
	.g-company-row-1, .g-company-row-2 {
		padding: 0;
	}
	.g-company-row-1 {
		padding: 15px 0 10px;
	}
	.g-company-row-2 {
		padding-bottom: 15px;
	}
	
	.g-company img {
		max-height: 30px;
	}
	/****** END OF GIGSTR SIDA ***/
	
	/********   JOB BOARD   *****/
	.icon-log {
		display: block;
	}
	
	.login-wrapper {
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		background: #83d5d2;
	}
	
	.login-container {
		float: none;
		width: 100%;
		-webkit-order: 2;
		order: 2;
	}
	
	.login-aside {
		float: none;
		width: 100%;
		-webkit-order: 1;
		order: 1;
		background: url(https://www.gigstr.com/wp-content/uploads/2018/06/Students-gigstr.jpg) no-repeat;
		background-size: cover;
	}
	
	.login-aside img {
			display: none;
		}
		
		.login-aside h3 {
			position: relative;
			top: 0;  
    		left: 0; 
    		transform: none;
			width: 100%;
			padding: 70px 50px;
			text-shadow: 1px 1px 3px rgba(29,32,42,0.8);
		}
	
	/******** END OF  JOB BOARD   *****/
	
	/*****CALCULATOR & USPAR*****/
	
	.calculator-header, .gigstr-uspar {
		text-align: center;
		max-width: 100%;
	}
	
	.gigstr-usp-wrapper img {
		display: none;
	}
}


@media only screen and (max-width: 479px) {
	
	.site-header.fixed {
		position: fixed!important;
	}
	
	.g-header-wrapper {
		margin-top: 60px;
	}
	
	.project-item {
  width: 50%;
  }
	
	/*** GIGSTR SIDA ****/
	
	#gigstr-container {
		background: url(https://www.gigstr.com/wp-content/uploads/2018/06/students-mobile.jpg) no-repeat;
		background-position: top;
	}
	.g-h-wrapper h2 {
		margin-top: 40px;
	}
	.g-h-wrapper p {
		font-size: 1.2em;
		font-weight: 700;
		margin-bottom: 40px;
	}
	
	a.roll-button.g-header-mobile {
		margin-bottom: 40px;
	}
	
	
	
	/****** END OF GIGSTR SIDA *******/
	/*****COMPANY PAGE******/
	.page-id-4758 .entry-content, .page-id-5288 .entry-content {
		margin-top: 77px!important;
	}
	
	/*****END OF COMPANY PAGE******/
	
	/********COMPANY TESTIMONIALS*****/
	
.category-company-tes .entry-content p:nth-child(2), .category-company-tes-swe .entry-content p:nth-child(2) {
	float: none;
	margin-right: 0;
}

.category-company-tes .entry-content p:nth-child(3), .category-company-tes-swe .entry-content p:nth-child(3) {
	margin-top: 10%;
}
	
	/********END OF COMPANY TESTIMONIALS*****/
	/***** FIND A JOB******/
	
	.job_filters {
	margin-top: 70px;
	background: none;
}
	/****END OF FIND A JOB*****/
	
		/****** RECOMMENADATION FORM ******/


	.recommendation-col-1 {
		padding: 10px;
	}
	
	.recommendation-col-1 img {
		width: 55%;
	}
	
	/****** END OF RECOMMENADATION FORM ******/

}


@media only screen and (max-width: 420px) {
	
	/********JOB BOARD*****/
	ul.job-listing-meta.meta {
		font-size: 0.9em!important;
	}
	.login-wrapper .form-row .user-registration-form__label.user-registration-form__label-for-checkbox.inline span, .login-wrapper .user-registration-LostPassword.lost_password a {
		color: white!important;
		font-weight: 700!important;
	}
	
	#gigstr-jobslist .job_listings .position {
	width: 65%;
}
	#gigstr-jobslist .job_listings .location {
		display: none;
	} 
	
	.log-header h3 {
		margin-top: 5px;
	}
	
	.job_listing .entry-header {
		margin-left: -15px;
		margin-right: -15px;
		border-radius: 0;
	}
	
	.log-pop input[type="submit"].user-registration-Button.button, .reg-wrapper .btn.button.ur-submit-button {
	background: white!important;
	border: none;
	font-weight: 700!important;
	color: #83d5d2!important;
}

.log-pop input[type="submit"].user-registration-Button.button:hover, .reg-wrapper .btn.button.ur-submit-button:hover {
	
	background: white!important;
	color: #83d5d2;
}
	
	/********END OF JOB BOARD*****/
	
	/**** NAV HEADER ****/
	.col-md-8.col-sm-4.col-xs-12 .btn-menu:before {
		position: relative;
		top: -15px;
	}
	/**** END OF NAV HEADER ****/
	

}


/**** END OF MOBOLE JOB BOARD ****/





