img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.site-header { background-color:rgba(250,247,242,0.9);}
.site-title { font-size:32px; }
.site-description { font-size:16px; }
#mainnav ul li a { font-size:14px; }
h1 { font-size:52px; }
h2 { font-size:42px; }
h3 { font-size:32px; }
h4 { font-size:25px; }
h5 { font-size:20px; }
h6 { font-size:18px; }
body { font-size:16px; }
.single .hentry .title-post { font-size:36px; }
.header-image { background-size:cover;}
.header-image { height:300px; }
.widget-area .widget_fp_social a,#mainnav ul li a:hover, .sydney_contact_info_widget span, .roll-team .team-content .name,.roll-team .team-item .team-pop .team-social li:hover a,.roll-infomation li.address:before,.roll-infomation li.phone:before,.roll-infomation li.email:before,.roll-testimonials .name,.roll-button.border,.roll-button:hover,.roll-icon-list .icon i,.roll-icon-list .content h3 a:hover,.roll-icon-box.white .content h3 a,.roll-icon-box .icon i,.roll-icon-box .content h3 a:hover,.switcher-container .switcher-icon a:focus,.go-top:hover,.hentry .meta-post a:hover,#mainnav > ul > li > a.active, #mainnav > ul > li > a:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .text-color, .social-menu-widget a, .social-menu-widget a:hover, .archive .team-social li a, a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,.classic-alt .meta-post a,.single .hentry .meta-post a { color:#83d5d2}
.reply,.woocommerce div.product .woocommerce-tabs ul.tabs li.active,.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.project-filter li a.active, .project-filter li a:hover,.preloader .pre-bounce1, .preloader .pre-bounce2,.roll-team .team-item .team-pop,.roll-progress .progress-animate,.roll-socials li a:hover,.roll-project .project-item .project-pop,.roll-project .project-filter li.active,.roll-project .project-filter li:hover,.roll-button.light:hover,.roll-button.border:hover,.roll-button,.roll-icon-box.white .icon,.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span,.go-top,.bottom .socials li:hover a,.sidebar .widget:before,.blog-pagination ul li.active,.blog-pagination ul li:hover a,.content-area .hentry:after,.text-slider .maintitle:after,.error-wrap #search-submit:hover,#mainnav .sub-menu li:hover > a,#mainnav ul li ul:after, button, input[type="button"], input[type="reset"], input[type="submit"], .panel-grid-cell .widget-title:after { background-color:#83d5d2}
.roll-socials li a:hover,.roll-socials li a,.roll-button.light:hover,.roll-button.border,.roll-button,.roll-icon-list .icon,.roll-icon-box .icon,.owl-theme .owl-controls .owl-page span,.comment .comment-detail,.widget-tags .tag-list a:hover,.blog-pagination ul li,.hentry blockquote,.error-wrap #search-submit:hover,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus, button, input[type="button"], input[type="reset"], input[type="submit"], .archive .team-social li a { border-color:#83d5d2}
.site-header.float-header { background-color:rgba(250,247,242,0.9);}
@media only screen and (max-width: 1024px) { .site-header { background-color:#faf7f2;}}
.site-title a, .site-title a:hover { color:#ffffff}
.site-description { color:#ffffff}
#mainnav ul li a, #mainnav ul li::before { color:#1d202a}
#mainnav .sub-menu li a { color:#ffffff}
#mainnav .sub-menu li a { background:#1d202a}
.text-slider .maintitle, .text-slider .subtitle { color:#ffffff}
body { color:#1d202a}
#secondary { background-color:#ffffff}
#secondary, #secondary a, #secondary .widget-title { color:#767676}
.footer-widgets { background-color:#000000}
#sidebar-footer,#sidebar-footer a,.footer-widgets .widget-title { color:#ffffff}
.btn-menu { color:#ffffff}
#mainnav ul li a:hover { color:#83d5d2}
.site-footer { background-color:#000000}
.site-footer,.site-footer a { color:#ffffff}
.overlay { background-color:#000000}
.page-wrap { padding-top:83px;}
.page-wrap { padding-bottom:100px;}
.slide-inner { display:none;}
.slide-inner.text-slider-stopped { display:block;}
@media only screen and (max-width: 1025px) {
    .mobile-slide {
        display: block;
    }
    .slide-item {
        background-image: none !important;
    }
    .header-slider {
    }
    .slide-item {
        height: auto !important;
    }
    .slide-inner {
        min-height: initial;
    }
}
@media only screen and (max-width: 780px) {
    h1 { font-size: 32px;}
    h2 { font-size: 28px;}
    h3 { font-size: 22px;}
    h4 { font-size: 18px;}
    h5 { font-size: 16px;}
    h6 { font-size: 14px;}
}

#apply-popup-link .promptWrapper .linkTextingButton {
    position: relative;
    right: 0;
}
.sd-sharing-enabled{
    display: none;
}
.btn-menu:before {
    content: url("https://www.gigstr.com/wp-content/uploads/2018/04/lines.svg");
}
.site-logo {
    width: 140px;
}
/*****HEADER*****/
#masthead {
    box-shadow: 1px 1px 3px rgba(28,32,42,0.15)
}
#menu-item-12248 a, #menu-item-12175 a {
    background: #1d202a;
    color: #faf7f2!important;
    padding: 2px 6px;
    border-radius: 3px;
}



.a-footer p {
    margin-bottom: 0;
}
#area-2-0 ul {
    padding-left: 20px;
}
.projects-template .content-wrapper {
    background: #faf7f2;
    max-width: 900px;
    margin: auto;
}
.leddig-jobb {
    border: 1px solid #1d202a;
    padding: 25px;
}
.leddig-jobb h3 {
    font-size: 25px;
    margin: 0 0 15px;
}
.leddig-jobb a {
    border: 1px solid #1d202a;
    background: #1d202a;
    padding: 5px 20px;
}
.leddig-jobb a:hover {
    background: white;
    color: #1d202a!important;
}
.entry-thumb {
    display: none;
}

.form-text {
    margin-bottom: 15px;
    color: grey;
}
.checkbox-221 label {
    margin-bottom: 0;
}

.hire-select {
    margin-bottom: 10px;
}

#contact-form input[type="checkbox"] {
    display: none;
}
input[type] {
    max-width: none;
}
#contact-form input[type] {
    max-width: 370px;
}
.wpcf7-list-item-label {
    cursor: pointer;
}

.wpcf7-list-item {
    margin-left: 0!important;
}

input[type="checkbox"] + .wpcf7-list-item-label {
    content: "1-5";
    padding: 10px 31px;
    border: 1px solid #dbdbdb;
    display: inline-block;
    color: grey;
}
input[type="checkbox"]:checked + .wpcf7-list-item-label {
    background: #83d5d2;
    color: white;
}

.roll-client .client-item img {
    max-width: 100px;
}
.a-footer {
    text-align: left;
}

.a-footer-box img {
    width: 15px;
    margin-right: 10px;
}
.a-footer-box {
    display: inline-block;
}

#colophon {
    display: none;
}



@media only screen and (max-width: 479px) {

    #main-header {
        padding-top: 50px!important;
    }


    .sydney-hero-area .button-slider {
        display: none;
    }
    .post-gig-eng .wpcf7-mail-sent-ok, .post-gig-swe .wpcf7-mail-sent-ok {
        top: 4%;
    }
    #full-screen-header.siteorigin-panels-stretch.panel-row-style {
        background-image: url("https://www.gigstr.com/wp-content/uploads/2018/04/Personaluthyrning-med-Gigstr-appen.jpg")!important;
    }

    i.arrow-header {
        border-color: #faf7f2;
    }

}

@-webkit-keyframes insQ_100 {  from {  outline: 1px solid transparent  } to {  outline: 0px solid transparent }  }
#menufication-top { animation-duration: 0.001s; animation-name: insQ_100; -webkit-animation-duration: 0.001s; -webkit-animation-name: insQ_100;  }


#custom_html-5 {
    padding-top: 0!important;
}
img.footer-partner {
    max-width: 100px;
}
p.footer-partner-text {
    margin-bottom: 10px!important;
}


div.wpcf7 {
    margin: 0;
    padding: 0;
}

div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #ff0000;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
    border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
    border: 2px solid #ffa500;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
    position: relative;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    font-weight: normal;
    display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    border: 1px solid #ff0000;
    background: #fff;
    padding: .2em .8em;
}

span.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
    content: " ";
}

.wpcf7-display-none {
    display: none;
}

div.wpcf7 .ajax-loader {
    visibility: hidden;
    display: inline-block;
    background-image: url('../../images/ajax-loader.gif');
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
}

div.wpcf7 .ajax-loader.is-active {
    visibility: visible;
}

div.wpcf7 div.ajax-error {
    display: none;
}

div.wpcf7 .placeheld {
    color: #888;
}

div.wpcf7 .wpcf7-recaptcha iframe {
    margin-bottom: 0;
}

div.wpcf7 input[type="file"] {
    cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
    cursor: default;
}
body.custom-background { background-color: #faf7f2; }
span.hide_err { display: none;}