<head>
<style>
h1 {font-size:380%;margin: 20px 0px;}
h2,h3,h4,h5,h6 {font-size:300%;margin: 20px 0px;}
p {font-size:300%; line-height:130%;margin: 20px 0px;}

</style>
</head>
<body>
<p>
    <?= $schedule->shift_description; ?>
</p>
</body>
</html>