<html>
<head>
    <style type="text/css">
        p { font-family: '-apple-system','HelveticaNeue'; font-size:40px; color: #4f4f4f;
            line-height:130%;margin: 20px 0px;}
    </style>
</head>
<body>
<p>
    <?= $gig->description; ?>
</p>
</body>
</html>